html{
    margin:0;
}

span{
    display:block;
    /* span ma block element issliya lgya kyuki span 1 inline element ha mtlb jitna space usko chiya woo bas utna hi space lega
    
    block element lgna sa span pura 1 line cover krta ha*/
}

.canvas{
    margin:100px auto 100px;
    width:80%;
    text-align:center;
}
.button{
    width:100px;
    height:100px;
    border:solid black 2px;
    display:inline-block;
}
#grey{
    background-color: grey;
}
#white{
    background-color:white;
}
#yellow{
    background-color:yellow;
}
#blue{
    background-color:blue;
}
